# Ignore files folder contents except the file modifier
ID609_OE1/Files/*
!ID609_OE1/Files/FileModifier.jar

# Ignore log folder contents
ID609_OE1/logs/*

# Ignore the default backup folder
ID609_OE1/Files_backup/

# Don't ignore gitkeep files
!ID609_OE1/Files/.gitkeep
!ID609_OE1/logs/.gitkeep

# Ignore the received-emails folder
ID609_OE1/received-emails/